body {
    width: 100vw;
    font-family: 'Protest Strike', sans-serif;
    font-size: 2rem;
    text-align: center;
    background-color: darkslategray;
}

h1 {
    font-size: 7rem;
}

ol li {
    list-style-type: none;
}

.done {
    text-decoration: line-through;
    color: lightgray;
}